body {
  font-family: 'Oxygen', sans-serif;
  color: $main-text-color;
  letter-spacing: 0.04rem;
  // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1.1;
}

#header, #menu-box, #copyright-box,  #socials-box {
  // font-family: 'Major Mono Display', monospace;
  font-size: $menu-font-size;
}

h1 {
  // font-size: calc(3.8rem + 3.6vw);
  font-size: 5em;
}

h2 {
  // font-size: calc(.2rem + 3.6vw);
  font-size: 1.7em;
}

h3 {
  // font-size: calc(1.5rem + 3.6vw);
  font-size: 1.2em;
}

p, a, button {
  // font-size: calc(.1rem + 3.6vw);
  font-size: .9em;
  font-weight: 300;
}
