.projects {
  border: 1px solid goldenrod;
}

.grid {
  display: grid;
  // grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  grid-gap: 2.5em;
  justify-content: space-around;
  place-items: center;
}
