@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

#header {
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px -10px $header-shadow-color;


  display: flex;
  justify-content: space-between;

  @include for-size(desktop-up) {
    padding: .5em 1em; 
  }
}
